USE [master]
GO
/****** Objeto: Database [fitgym_db] Fecha de script: 07/06/2026 15:03:16 ******/
CREATE DATABASE [fitgym_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'fitgym_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\fitgym_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'fitgym_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\fitgym_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [fitgym_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [fitgym_db]
GO
/****** Objeto: Table [dbo].[comidas_registro] Fecha de script: 07/06/2026 15:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comidas_registro](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[calorias] [int] NOT NULL,
	[carbohidratos] [int] NOT NULL,
	[fecha] [date] NULL,
	[grasas] [int] NOT NULL,
	[nombre_alimento] [varchar](255) NULL,
	[proteina] [int] NOT NULL,
	[tipo_comida] [varchar](255) NULL,
	[usuario_email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ejercicios] Fecha de script: 07/06/2026 15:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ejercicios](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
	[series] [int] NOT NULL,
	[repeticiones] [int] NOT NULL,
	[peso_sugerido] [varchar](255) NULL,
	[rutina_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[entrenador_alimentos] Fecha de script: 07/06/2026 15:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entrenador_alimentos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[calorias] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
	[tipo_comida] [varchar](255) NULL,
	[usuario_email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[historial_entrenamientos] Fecha de script: 07/06/2026 15:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[historial_entrenamientos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[calorias_quemadas] [int] NOT NULL,
	[duracion_minutos] [int] NOT NULL,
	[fecha_hora] [datetime2](7) NULL,
	[rutina_nombre] [varchar](255) NULL,
	[usuario_email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[rutinas] Fecha de script: 07/06/2026 15:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rutinas](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[nivel] [varchar](50) NULL,
	[tiempo] [varchar](30) NULL,
	[grupo_muscular] [varchar](50) NULL,
	[objetivo_asociado] [varchar](50) NOT NULL,
	[usuario_email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuarios] Fecha de script: 07/06/2026 15:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[email] [varchar](100) NOT NULL,
	[altura] [float] NOT NULL,
	[membresia] [varchar](50) NULL,
	[meta_calorias] [int] NOT NULL,
	[nivel_entrenamiento] [varchar](50) NULL,
	[nombre] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[peso_actual] [float] NOT NULL,
	[edad] [int] NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[genero] [varchar](20) NULL,
	[objetivo] [varchar](50) NOT NULL,
	[suspendido] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[comidas_registro] ON 

INSERT [dbo].[comidas_registro] ([id], [calorias], [carbohidratos], [fecha], [grasas], [nombre_alimento], [proteina], [tipo_comida], [usuario_email]) VALUES (1, 14, 10, CAST(N'2026-06-05' AS Date), 20, N'Tostadas', 11, N'Desayuno', N'claudio@gmail.com')
INSERT [dbo].[comidas_registro] ([id], [calorias], [carbohidratos], [fecha], [grasas], [nombre_alimento], [proteina], [tipo_comida], [usuario_email]) VALUES (2, 200, 50, CAST(N'2026-06-05' AS Date), 20, N'pollo a la brasa', 10, N'Almuerzo', N'claudio@gmail.com')
INSERT [dbo].[comidas_registro] ([id], [calorias], [carbohidratos], [fecha], [grasas], [nombre_alimento], [proteina], [tipo_comida], [usuario_email]) VALUES (3, 200, 40, CAST(N'2026-06-05' AS Date), 50, N'arroz', 11, N'Almuerzo', N'claudio@gmail.com')
SET IDENTITY_INSERT [dbo].[comidas_registro] OFF
GO
SET IDENTITY_INSERT [dbo].[ejercicios] ON 

INSERT [dbo].[ejercicios] ([id], [nombre], [series], [repeticiones], [peso_sugerido], [rutina_id]) VALUES (4, N'Press de Banca Plano', 4, 5, N'90', 2)
INSERT [dbo].[ejercicios] ([id], [nombre], [series], [repeticiones], [peso_sugerido], [rutina_id]) VALUES (5, N'Press Militar con Barra', 3, 6, N'50', 2)
INSERT [dbo].[ejercicios] ([id], [nombre], [series], [repeticiones], [peso_sugerido], [rutina_id]) VALUES (6, N'Sentadilla Libre Trasera', 4, 5, N'110', 3)
GO
SET IDENTITY_INSERT [dbo].[ejercicios] OFF
GO
SET IDENTITY_INSERT [dbo].[entrenador_alimentos] ON 

INSERT [dbo].[entrenador_alimentos] ([id], [calorias], [nombre], [tipo_comida], [usuario_email]) VALUES (1, 450, N'Pechuga de pollo con papas', N'Almuerzo', N'admin@gym.com')
INSERT [dbo].[entrenador_alimentos] ([id], [calorias], [nombre], [tipo_comida], [usuario_email]) VALUES (2, 450, N'Pechuga de pollo con papas', N'Almuerzo', N'jesus@gmail.com')
SET IDENTITY_INSERT [dbo].[entrenador_alimentos] OFF
GO
SET IDENTITY_INSERT [dbo].[historial_entrenamientos] ON 

INSERT [dbo].[historial_entrenamientos] ([id], [calorias_quemadas], [duracion_minutos], [fecha_hora], [rutina_nombre], [usuario_email]) VALUES (1, 300, 45, CAST(N'2026-06-06T15:08:53.2110321' AS DateTime2), N'Fuerza Espalda: Peso Muerto (Cargas Máximas)', N'claudio@gmail.com')
INSERT [dbo].[historial_entrenamientos] ([id], [calorias_quemadas], [duracion_minutos], [fecha_hora], [rutina_nombre], [usuario_email]) VALUES (2, 300, 45, CAST(N'2026-06-06T16:07:10.3932730' AS DateTime2), N'Fuerza Pecho: Press de Banca Pesado', N'claudio@gmail.com')
INSERT [dbo].[historial_entrenamientos] ([id], [calorias_quemadas], [duracion_minutos], [fecha_hora], [rutina_nombre], [usuario_email]) VALUES (3, 300, 45, CAST(N'2026-06-06T16:07:14.8116354' AS DateTime2), N'Fuerza Pecho: Press de Banca Pesado', N'claudio@gmail.com')
SET IDENTITY_INSERT [dbo].[historial_entrenamientos] OFF
GO
SET IDENTITY_INSERT [dbo].[rutinas] ON 

INSERT [dbo].[rutinas] ([id], [nombre], [nivel], [tiempo], [grupo_muscular], [objetivo_asociado], [usuario_email]) VALUES (2, N'Fuerza Pecho: Press de Banca Pesado', N'Avanzado', N'50 min', N'Torso', N'Hacerse más fuerte', NULL)
INSERT [dbo].[rutinas] ([id], [nombre], [nivel], [tiempo], [grupo_muscular], [objetivo_asociado], [usuario_email]) VALUES (3, N'Fuerza Pierna: Sentadilla Powerlifter', N'Avanzado', N'60 min', N'Tren Inferior', N'Hacerse más fuerte', NULL)
INSERT [dbo].[rutinas] ([id], [nombre], [nivel], [tiempo], [grupo_muscular], [objetivo_asociado], [usuario_email]) VALUES (4, N'Hipertrofia Espalda: Enfoque Amplitud', N'Intermedio', N'50 min', N'Torso', N'Ganar Peso', NULL)
SET IDENTITY_INSERT [dbo].[rutinas] OFF
GO
INSERT [dbo].[usuarios] ([email], [altura], [membresia], [meta_calorias], [nivel_entrenamiento], [nombre], [password], [peso_actual], [edad], [fecha_nacimiento], [genero], [objetivo], [suspendido]) VALUES (N'admin@gym.com', 1.75, N'Activo', 2000, NULL, N'Admin', N'1234', 70, 30, NULL, NULL, N'Hacerse más fuerte', 0)
INSERT [dbo].[usuarios] ([email], [altura], [membresia], [meta_calorias], [nivel_entrenamiento], [nombre], [password], [peso_actual], [edad], [fecha_nacimiento], [genero], [objetivo], [suspendido]) VALUES (N'claudio@gmail.com', 1.9, N'Activo', 2000, N'Principiante', N'Claudio', N'1234', 85, 26, CAST(N'2000-01-14' AS Date), N'Masculino', N'Hacerse más fuerte', 0)
INSERT [dbo].[usuarios] ([email], [altura], [membresia], [meta_calorias], [nivel_entrenamiento], [nombre], [password], [peso_actual], [edad], [fecha_nacimiento], [genero], [objetivo], [suspendido]) VALUES (N'jesus@gmail.com', 1.75, N'Digital-Gratis', 2000, N'Principiante', N'jesus', N'1234', 80, 26, CAST(N'1999-08-14' AS Date), N'Masculino', N'Hacerse más fuerte', 0)
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ('Hacerse más fuerte') FOR [objetivo]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT ((0)) FOR [suspendido]
GO
ALTER TABLE [dbo].[ejercicios]  WITH CHECK ADD  CONSTRAINT [FK_ejercicios_rutinas] FOREIGN KEY([rutina_id])
REFERENCES [dbo].[rutinas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ejercicios] CHECK CONSTRAINT [FK_ejercicios_rutinas]
GO
USE [master]
GO
